<button class="info" (click)="toggleCredits()">
   i
</button>

<section class="credits" *ngIf="showCredits">
   <button class="info" (click)="toggleCredits()">
      X
   </button>
  <div class="container">
    <h2>Thanks to</h2>

    <ul>
      <li>
        <a
          href="https://www.youtube.com/watch?v=psZXU8PTAS8"
          target="_blank"
          rel="noopener noreferrer"
        >
          Sameer Saini</a
        >
        on YouTube for the Angular tutorial
      </li>
      <li>
        <a
          href="https://www.pexels.com/photo/macro-photography-of-snowflake-813871/"
          target="_blank"
          rel="noopener noreferrer"
          >Egor Kamelev</a
        >
        and
        <a
          href="https://www.pexels.com/photo/blooming-flowers-growing-near-green-lawn-4916673/"
          target="_blank"
          rel="noopener noreferrer"
          >Maria Orlova</a
        >
        on Pexels for the photos
      </li>
      <li>
        <a
          href="https://www.freepik.com/free-vector/beautiful-white-cloud-blue-sky-background_27885213.htm"
          >Harryarts</a
        >
        on Freepik for the background
      </li>
      <li>
        <a href="https://www.flaticon.com/free-icons/cold" title="cold icons"
          >nawicon</a
        >,
        <a
          href="https://www.flaticon.com/free-icons/temperature"
          title="temperature icons"
          >smashingstocks</a
        >,
        <a
          href="https://www.flaticon.com/free-icons/humidity"
          title="humidity icons"
          >Freepik</a
        >,
        <a href="https://www.flaticon.com/free-icons/wind" title="wind icons"
          >smalllikeart</a
        >
        on Flaticon for the icons
      </li>
    </ul>
  </div>
</section>

<section class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      name="city"
      [(ngModel)]="inputCity"
      placeholder="Search city"
    />
  </form>
</section>

<main *ngIf="weatherData">
  <section class="upper-data">
    <img
      src="../assets/hot.jpg"
      alt="hot"
      *ngIf="weatherData.current.temperature_2m > 15"
    />
    <img
      src="../assets/cold.jpg"
      alt="cold"
      *ngIf="weatherData.current.temperature_2m <= 15"
    />
    <div class="weather-data">
      <div class="location">{{ chosenCity }}</div>
      <div class="temperature">
        {{ weatherData.current.temperature_2m
        }}{{ weatherData.current_units.temperature_2m }}
      </div>
    </div>
  </section>
  <section class="lower-data">
    <div class="more-info">
      <div class="container">
        <div class="info-block">
          <div class="label">
            <img src="../assets/min.png" alt="min" />
            <span>min</span>
          </div>
          <div class="value">
            {{ weatherData.daily.temperature_2m_min[0]
            }}{{ weatherData.current_units.temperature_2m }}
          </div>
        </div>
        <div class="info-block">
          <div class="label">
            <img src="../assets/max.png" alt="max" />
            <span>max</span>
          </div>
          <div class="value">
            {{ weatherData.daily.temperature_2m_max[0]
            }}{{ weatherData.current_units.temperature_2m }}
          </div>
        </div>
        <div class="info-block">
          <div class="label">
            <img src="../assets/humidity.png" alt="humidity" />
            <span>humidity</span>
          </div>
          <div class="value">
            {{ weatherData.current.relative_humidity_2m
            }}{{ weatherData.current_units.relative_humidity_2m }}
          </div>
        </div>
        <div class="info-block">
          <div class="label">
            <img src="../assets/wind.png" alt="wind" />
            <span>wind</span>
          </div>
          <div class="value">
            {{ weatherData.current.wind_speed_10m }}
            {{ weatherData.current_units.wind_speed_10m }}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<main *ngIf="!weatherData">
  <p class="no-data">No data found :(</p>
</main>

<router-outlet></router-outlet>
