<main>
  <div class="upper-data">
    <!-- <img src="../assets/hot.jpg" alt="hot" *ngIf="15 > 14" /> -->
    <img src="../assets/cold.jpg" alt="cold" *ngIf="14 < 15" />
    <div class="weather-data">
      <div class="location">Turin</div>
      <div class="temperature">{{ 14.4 | number : "1.0-0" }}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info">
      <!-- <div class="label">More information</div> -->
      <div class="container">
        <div class="info-block">
          <div class="label">
            <img src="../assets/min.png" alt="min" />
            <span>min</span>
          </div>
          <div class="value">10°C</div>
        </div>
        <div class="info-block">
          <div class="label">
            <img src="../assets/max.png" alt="max" />
            <span>max</span>
          </div>
          <div class="value">20°C</div>
        </div>
        <div class="info-block">
          <div class="label">
            <img src="../assets/humidity.png" alt="humidity" />
            <span>humidity</span>
          </div>
          <div class="value">77%</div>
        </div>
        <div class="info-block">
          <div class="label">
            <img src="../assets/wind.png" alt="wind" />
            <span>wind</span>
          </div>
          <div class="value">11 km/h</div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- <div class="credits">
  <div>
    <a
      href="https://www.freepik.com/free-vector/unfocussed-winter-background-with-snowflakes_10696590.htm#query=cold%20background&position=3&from_view=search&track=ais&uuid=ae84bea8-ba72-4ae6-bf7b-87818ca37d99"
      >Image by s.salvador</a
    >
    on Freepik
  </div>
  <div>
    <a
      href="https://www.freepik.com/free-vector/bokeh-bubbles-sun-flash-blue-background_10123756.htm#query=sunny%20background&position=2&from_view=search&track=ais&uuid=6f55e0c5-acd6-4860-b1d1-1807a377c6bd"
      >Image by kotkoa</a
    >
    on Freepik
  </div>
  <div>
    <a href="https://www.flaticon.com/free-icons/cold" title="cold icons"
      >Cold icons created by nawicon - Flaticon</a
    >
  </div>
  <div>
    <a
      href="https://www.flaticon.com/free-icons/temperature"
      title="temperature icons"
      >Temperature icons created by smashingstocks - Flaticon</a
    >
  </div>
  <div>
    <a
      href="https://www.flaticon.com/free-icons/humidity" title="humidity icons" >Humidity icons created by Freepik - Flaticon</a
    >
  </div>
  <div>
   <a href="https://www.flaticon.com/free-icons/wind" title="wind icons">Wind icons created by smalllikeart - Flaticon</a>
  </div>
  <div>
      <a href="https://www.freepik.com/free-vector/beautiful-white-cloud-blue-sky-background_27885213.htm#query=sky%20background&position=8&from_view=search&track=ais&uuid=9bc07336-c1f7-4fbd-a3b5-bf8b701f1806">Image by Harryarts</a> on Freepik
  </div>
  <div>
      Photo by Egor Kamelev: https://www.pexels.com/photo/macro-photography-of-snowflake-813871/
  </div>
  <div>Photo by Maria Orlova: https://www.pexels.com/photo/blooming-flowers-growing-near-green-lawn-4916673/</div>
</div> -->
<router-outlet></router-outlet>
