.app {
   background: #39bdff;
   height: 100vh;
   padding: 30px;
 }
 
 .todo-list {
   background: #e8e8e8;
   max-width: 400px;
   padding: 10px;
 }
 
 .todo {
   align-items: center;
   background: #fff;
   display: flex;
   font-size: 13px;
   justify-content: space-between;
   margin-bottom: 10px;
   padding: 7px;
 }

 .todo:last-child {
    margin-bottom: 0;
 }

 button:last-child {
    margin-left: 5px;
 }

 .line-through {
    text-decoration: line-through;
 }