<h4 style="margin-bottom: .3em;">Credits</h4>
<section>
  <ul>
    <li>
      Initial code from the
      <a href="https://www.coursera.org/learn/angular-routing/" target="_blank">
        Learn Angular Routing by building a Cocktails Application</a
      >
      tutorial on Coursera, by
      <a href="https://www.linkedin.com/in/sis0k0/" target="_blank"
        >Stanimira Vlaeva</a
      >
    </li>
    <li>
      <a target="_blank" href="https://icons8.com/icon/12863/cocktail"
        >Cocktail</a
      >
    </li>
    <li>
      icon by
      <a target="_blank" href="https://icons8.com">Icons8</a>, favicon generated
      with
      <a href="https://favicon.io/" target="_blank">favicon.io</a>
    </li>
  </ul>
</section>
