@import "../../_variables.scss";

/* MessagesComponent's private CSS styles */
h2 {
   color: $red;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: lighter;
 }
 
 .clear {
   color: $grey-4;
   background-color: $grey-1;
   margin-bottom: 12px;
   padding: 1rem;
   border-radius: 4px;
   font-size: 1rem;
 }
 .clear:hover {
   color: $white;
   background-color: #42545C;
 }