$black: black;
$blue: #369;
// $blue-2: #42545C;
// $blue-2: #405061;
$blue-2: #2c3a41;
// $grey-1: #fafafa;
// $grey-2: #e6e6e6;
$grey-1: #eee;
$grey-2: #aaa;
// $grey-3: #505050;
$grey-3: #444;
$grey-4: #333;
$red: #a80000;
$white: white;

$font-sans-serif: Arial, Helvetica, sans-serif;
$font-serif: Cambria, Georgia, serif;
